* {
    box-sizing: border-box;
}
input[type="radio"i] {
    visibility: hidden;
}
.slider {
    max-width: 85rem;
    max-height: 90vh;
    font-family: "Pacifico";
    letter-spacing: 0.09rem;
    color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: rgb(5, 97, 51);
    border-radius: 3%;
    padding: 3vh 3vh;
}
.slider__wrapper {
    width: 100%;
    height: 100%;
    padding: 2vh 0;
}
.slider__images {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items:center;
}
@media (max-width: 769px) {
    .slider__images {
        height: calc((100vw - 6vh) * 0.588);
        margin-top: calc(((100vh / 2) - (100vw - 6vh) * 0.588) / 2);
}
}
.slider__img {
    object-fit: contain;
    border-radius: 1%;
    width:0;
    height: 0;
}
@keyframes turn {
    from {
        width: 0;
        height: 0;
        transform: rotate(0deg);
    }
    to
    {
        width: 100%;
        height: 100%;
        transform: rotate(360deg);
    }
}
.slider__button_one:checked~.slider__images .slider__img_one,
.slider__button_two:checked~.slider__images .slider__img_two,
.slider__button_three:checked~.slider__images .slider__img_three,
.slider__button_four:checked~.slider__images .slider__img_four,
.slider__button_five:checked~.slider__images .slider__img_five {
        animation: turn 1s;
        width: 100%;
        height: 100%;
}
.slider__footer {
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
}
@media (max-width: 769px) {
    .slider__footer { 
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
        height: calc(100vh / 3);
        padding: 0;
    }
}
.slider__captions {
    width: 45%;
    font-size: 0;
    overflow: hidden;
}
.slider__caption {
    display: grid;
    background-color:rgb(5, 97, 51);
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-end; 
}   
.slider__text {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
}
.slider__empty {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
    background-color:rgb(5, 97, 51);
    width: 100%;
    height: 140%;
}
  .slider__button_one:checked~.slider__footer .slider__empty_one,
  .slider__button_two:checked~.slider__footer .slider__empty_two,
  .slider__button_three:checked~.slider__footer .slider__empty_three,
  .slider__button_four:checked~.slider__footer .slider__empty_four,
  .slider__button_five:checked~.slider__footer .slider__empty_five  {
    width:100%;
    height: 140%;
    animation: 5s forwards example ;
}
@keyframes example {
  from {
     width: 100%;
    }
  to {
     width: 0;
  }
}
@media (max-width: 769px) {
    .slider__captions {
        width: 100%;
        height: calc(100vh / 8);
        order: 2;
    }
}
@media (max-width: 425px) {
    .slider__captions {
        width: 100%;
        height: calc(100vh / 5);
        order: 2;
    }
}
.slider__button_one:checked~.slider__footer .slider__caption_one,
.slider__button_two:checked~.slider__footer .slider__caption_two,
.slider__button_three:checked~.slider__footer .slider__caption_three,
.slider__button_four:checked~.slider__footer .slider__caption_four,
.slider__button_five:checked~.slider__footer .slider__caption_five {
    font-size: 32px;
    line-height: 44px;
}
@media (max-width: 1024px) {
    .slider__button_one:checked~.slider__footer .slider__caption_one,
    .slider__button_two:checked~.slider__footer .slider__caption_two,
    .slider__button_three:checked~.slider__footer .slider__caption_three,
    .slider__button_four:checked~.slider__footer .slider__caption_four,
    .slider__button_five:checked~.slider__footer .slider__caption_five {
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    }     
}
@media (max-width: 769px) {
    .slider__button_one:checked~.slider__footer .slider__caption_one,
    .slider__button_two:checked~.slider__footer .slider__caption_two,
    .slider__button_three:checked~.slider__footer .slider__caption_three,
    .slider__button_four:checked~.slider__footer .slider__caption_four,
    .slider__button_five:checked~.slider__footer .slider__caption_five {
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    }     
}
@media (max-width: 425px) {
    .slider__button_one:checked~.slider__footer .slider__caption_one,
    .slider__button_two:checked~.slider__footer .slider__caption_two,
    .slider__button_three:checked~.slider__footer .slider__caption_three,
    .slider__button_four:checked~.slider__footer .slider__caption_four,
    .slider__button_five:checked~.slider__footer .slider__caption_five {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    }     
}
.slider__button_one:checked~.slider__footer .slider__radio_one,
.slider__button_two:checked~.slider__footer .slider__radio_two,
.slider__button_three:checked~.slider__footer .slider__radio_three,
.slider__button_four:checked~.slider__footer .slider__radio_four,
.slider__button_five:checked~.slider__footer .slider__radio_five {
    background-color: rgb(128, 248, 188);
}
.slider__labels {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width: 769px) {
    .slider__labels {
        width: 100%;
        padding: 2rem 0;
    }    
    
}
.slider__label {
    padding: 1vh;
   
}
.slider__label:hover{
    cursor: pointer;
}
.slider__label:hover .slider__radio{
   cursor: pointer;
   border: 0.5rem solid #FFFFFF;
    box-shadow: 0 0 2rem aqua;
}
.slider__radio { 
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid rgb(145, 238, 226);
    border-radius: 50%;
}
@media (max-width: 769px) {
    .slider__radio { 
        width: 1rem;
        height: 1rem;
    }    
    
}
